.jersey {
    font-family: "Jersey 15 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.caveat{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.button{
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 40px 20px;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
    transition-duration: 1s;
  }  