@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .header{
    background-image: url(imagenes/image.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: wheat;
    border-bottom: 1px solid orange;
}

.button{
  background-color: lightgreen;
  border: 4px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 10px;
  padding: 10px 40px;
  display: inline-block;
}


